@model IEnumerable<EVA3.Models.Producto>


@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        Productos en la página
        <small>Listado de productos</small>
    </h1>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@item.Nombre</a>
                        </h4>
                        <p class="card-text">
                            @if (item.Imagen != null)
                            {
                                <img src="~/Content/img/@item.Imagen" width="200" />
                            }
                            else
                            {
                                <img src="~/Content/img/default.png" width="200" />
                            }
                            <br />
                        <p class="card-text">
                            @item.Descripcion
                            <br />
                            Precio: $@item.Precio

                        </p>
                        <p>@Html.ActionLink("Ver más", "Detalle/" + item.Id, "Home")</p>
                    </div>
                </div>
            </div>


        }

    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <!--<ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>-->

</div>
<!-- /.container -->